.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.storename {
  font-family: "Press Start 2P", system-ui;
  font-style: normal;
  margin-top: 120px;
  text-align: center;
  color: var(--accent-color);
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 600;
  max-width: 90vw;
}

.slogan {
  color: var(--secondary-color);
  font-size: 40px;
  text-align: center;
  margin-top: -20px;
  max-width: 90vw;
  font-family: "Sirin Stencil", sans-serif;
  font-style: normal;
}

.item {
  max-width: 800px;
  height: 430px;
  width: max-content;
  justify-self: center;
  align-self: center;
  background: linear-gradient(#ffffffdf, #ffffffdf), url(../../assets/sale.svg);
  display: grid;
  grid-template-areas:
    "promoImageContainer title"
    "promoImageContainer price";
  color: var(--accent-color);
  border-radius: 14px;
  margin-bottom: 20px;
  padding: 40px;
  gap: 2rem;
  border: 1px solid var(--secondary-color);
  box-shadow: 0 0px 2px #000, inset 0px 0px 80px var(--secondary-color);
  transition: all 0.2s;
  overflow: hidden;
}

.item:hover {
  background: linear-gradient(#ffcc00e2, #ffcc00e2), url(../../assets/sale.svg),
    linear-gradient(#ffcc00, #ffcc00);
  box-shadow: 0 5px 15px #000, inset 0px 0px 15px var(--primary-color);
  scale: 1.01;
}
.item:active {
  background: linear-gradient(#ffcc00b7, #ffcc00b7), url(../../assets/sale.svg),
    linear-gradient(#ffcc00, #ffcc00);
  box-shadow: 0 1px 2px #000;
  scale: 0.99;
}

.promoImageContainer {
  grid-area: promoImageContainer;
}
.promoImage {
  z-index: 9;
  position: absolute;
  object-fit: contain;
  width: 200px;
  border-radius: 7px;
}
.promoImageGlow {
  object-fit: contain;
  width: 200px;
  border-radius: 7px;
  filter: blur(20px);
}

.price {
  grid-area: price;
  display: inline;
  text-wrap: nowrap;
  width: max-content;
  color: #fff;
  background-color: var(--secondary-color);
  font-weight: 600;
  padding: 10px;
  border-radius: 7px;
  justify-self: flex-end;
  align-self: flex-end;
  height: max-content;
  font-size: 35px;
  transition: all 0.5s;
}
.item:hover .price {
  transform: rotate(-390deg);
  scale: 1.2;
}
.discount {
  width: max-content;
  color: #fff;
  background-color: var(--secondary-color);
  font-weight: 600;
  padding: 10px;
  border-radius: 7px;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  transform: rotate(10deg);
  justify-self: center;
  align-self: center;
  text-align: center;
}
.link {
  text-decoration: none;
  color: #000;
}
.promoList {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.barcodeContainer {
  display: flex;
  width: 95vw;
  flex-direction: row;
  gap: 30px;
  justify-content: center;
  margin-top: 20px;
  padding-bottom: 30px;
}
.barcode {
  width: 140px;
  height: 140px;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0 5px 10px #000;
  transform: rotate(-15deg);
}
.barcodeText {
  color: var(--secondary-color);
  width: 200px;
  max-width: 40%;
  align-self: flex-end;
}
.itemList {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}
.stores {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
}
.appstore {
  width: 100px;
}
.gplay {
  width: 127px;
}
.title {
  grid-area: title;
  font-weight: 700;
  text-wrap: wrap;
  font-size: x-large;
  text-shadow: 0px 0px 3px #ffffff;
}

@media screen and (max-width: 925px) {
  .item {
    height: max-content;
    grid-template-areas:
      "promoImageContainer title"
      "price price";
    align-items: center;
    justify-content: center;
    padding: 40px;
    gap: 1rem;
    border: 1px solid var(--secondary-color);
    box-shadow: 0 0px 2px #000, inset 0px 0px 80px var(--secondary-color);
    transition: all 0.2s;
  }
  .price {
    justify-content: center;
    align-items: center;
    text-align: center;
    width: max-content;
  }
  .item:hover .price {
    scale: 1;
  }
}
@media screen and (max-width: 700px) {
  .stores {
    display: flex;
    flex-direction: column;
  }
  .appstore {
    width: 100px;
    padding-left: 7px;
  }
  .gplay {
    width: 113px;
  }
  .price {
    justify-self: center;
    align-self: center;
    width: 100%;
  }
  .item:hover .price {
    scale: 1;
  }
  .item {
    grid-template-areas:
      "promoImageContainer" "title"
      "price";
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 80vw;
    padding: 40px;
    gap: 1rem;
    border: 1px solid var(--secondary-color);
    box-shadow: 0 0px 2px #000, inset 0px 0px 80px var(--secondary-color);
    transition: all 0.2s;
  }
}
