.list {
  background-color: var(--background-color);
  margin-top: 70px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
}
@media screen and (max-width: 720px) {
  .list {
    grid-template-columns: 1fr;
  }
}
.item {
  background-color: var(--primary-color);
  display: flex;
  color: var(--accent-color);
  border-radius: 14px;
  margin: 15px;
  padding: 10px;
  gap: 2rem;
  border: 1px solid var(--secondary-color);
  box-shadow: 0 5px 15px #000;
  text-shadow: 1px 1px 1px var(--background-color);
  transition: all 0.2s;
}
.item:hover {
  background-color: var(--background-color);
  scale: 1.01;
}
.item:active {
  background-color: var(--primary-color);
  scale: 0.99;
}

.itemMark {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 0 0px 40px 40px;
  color: #fff;
  text-shadow: 1px 1px 1px var(--accent-color);
  height: 40px;
  right: 15px;
  top: -10px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 10px;
  background-color: var(--secondary-color);
  box-shadow: 0px 0px 3px var(--accent-color);
}
.imageInList {
  width: 100px;
  height: 100px;
  border-radius: 7px;
}
