.list {
  background-color: #fff;
  margin-top: 50px;
  display: grid;
  gap: 15px;
  justify-content: center;
  align-items: stretch;
  padding: 20px;
  flex-wrap: wrap;
}
.storename {
  font-family: "Press Start 2P", system-ui;
  font-style: normal;
  margin-top: 120px;
  text-align: center;
  color: var(--accent-color);
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 600;
  max-width: 90vw;
  text-align: center;
}
.item {
  background-color: var(--primary-color);
  display: flex;
  color: var(--accent-color);
  border-radius: 7px;
  padding: 20px;
  gap: 1rem;
  border: 1px solid var(--background-color);
  box-shadow: 0 0px 2px #000, inset 0px 0px 3px var(--background-color);
  align-self: stretch;
  height: 75%;
  transition: all 0.2s;
}
.item:hover {
  background-color: var(--background-color);
  border: 1px solid transparent;
  box-shadow: 0 5px 15px #000, inset 0px 0px 15px var(--primary-color);
  scale: 1.01;
}
.item:active {
  background-color: var(--primary-color);
  box-shadow: 0 1px 2px #000;
  scale: 0.99;
}

.itemMark {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  border-radius: 0 0px 40px 40px;
  color: #fff;
  text-shadow: 1px 1px 1px var(--accent-color);
  height: 40px;
  right: 15px;
  top: -20px;
  font-size: 10px;
  width: 40px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 10px;
  background-color: var(--secondary-color);
  box-shadow: 0px 0px 3px var(--accent-color);
}
.imgContainer {
}
.imageInList {
  z-index: 9;
  position: absolute;
  object-fit: contain;
  width: 120px;
  border-radius: 7px;
}
.imageInListGlow {
  object-fit: contain;
  width: 120px;
  border-radius: 7px;
  filter: blur(20px);
}
.price {
  display: flex;
  width: max-content;
  color: #fff;
  background-color: var(--secondary-color);
  font-weight: 600;
  padding: 10px;
  border-radius: 7px;
  justify-content: center;
  align-items: center;
  text-shadow: none;
}
@media screen and (min-width: 1200px) {
  .list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media screen and (min-width: 1168px) and (max-width: 1560px) {
  .list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (min-width: 768px) and (max-width: 1167px) {
  .list {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  .list {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 575px) {
  .list {
    grid-template-columns: 1fr;
  }
}
