.TopBar {
  display: flex;
  padding: 15px 20px 15px 20px;
  margin: 0;
  box-sizing: border-box;
  flex-direction: row;
  width: 80vw;
  border-radius: 0px 0px 10px 10px;
  background: linear-gradient(var(--background-color), var(--background-color));
  color: var(--background-color);
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  text-shadow: 1px 1px 3px var(--accent-color);
  box-shadow: 0px 0px 5px var(--accent-color),
    inset 0px 0px 15px var(--primary-color);
  z-index: 99;
}

.topBarButton {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 10px 15px 10px 15px;
  background-color: var(--accent-color);
  border-radius: 7px;
  color: var(--primary-color);
  text-shadow: 0px 0px 20px #000;
  box-shadow: 0px 0px 2px #000;
  text-decoration: none;
  height: 20px;
  gap: 5px;
  transition: all 0.2s;
}
.topBarButton:hover {
  background-color: var(--accent-color);
  color: var(--background-color);
  box-shadow: 0px 0px 10px var(--background-color);
  scale: 1;
}
.topBarButton:active,
.topBarButtonActive {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 10px 15px 10px 15px;
  background-color: var(--secondary-color);
  border-radius: 7px;
  color: var(--primary-color);
  text-shadow: 0px 0px 5px #000;
  box-shadow: none;
  text-decoration: none;
  height: 20px;
  gap: 5px;
  scale: 0.95;
}

.logo {
  width: 50px;
  filter: drop-shadow(0 0 3px #fff);
}
.navigation {
  display: flex;
  color: var(--primary-color);
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.navTitle {
  font-size: 15px;
}
.userblock {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
@media screen and (max-width: 755px) {
  .TopBar {
    width: 100vw;
  }
  .navTitle {
    font-size: 0;
  }
  .topBarButton,
  .topBarButtonActive,
  .topBarButton:active {
    gap: 0;
  }
}
