.listItem {
  display: flex;
  border: 1px solid #ccc;
  margin-bottom: 1rem;
  padding: 10px;
  border-radius: 5px;
}

.listItemImage {
  width: 100px;
}

.listItemInfo {
  padding: 10px 0;
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.removeBtn {
  width: 100px;
  background-color: red;
  color: white;
  border: 1px solid #ddd;
  padding: 5px;
  margin-left: 3px;
  margin-right: 3px;
  border-radius: 5px;
  cursor: pointer;
}

.cartBtn {
  width: 25px;
  background-color: #aaa;
  color: white;
  border: 1px solid #ddd;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}
