#root {
  align-self: center;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.cart {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(#ffcc00d6, #ffcc00d6),
    url("./assets/cart.svg"),
    linear-gradient(var(--primary-color), var(--primary-color));
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 80svh;
  width: 80vw;
  border: none;
  display: flex;
}
.cartButton {
  background-image: linear-gradient(var(--accent-color), var(--accent-color));
  color: #fff;
  border-radius: 7px;
  border: none;
  padding: 10px;
  text-shadow: 1px 1px 1px var(--accent-color);
  align-self: flex-end;
  box-shadow: 0 1px 2px #000;
  text-transform: uppercase;
  font-weight: 800;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
}
.cartButton:hover {
  box-shadow: 0 3px 15px #000000d0;
  scale: 1.02;
}
.cartButton:active {
  box-shadow: 0 1px 2px #000;
  scale: 0.99;
}

.topBarButtonActive {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 10px 15px 10px 15px;
  background-color: var(--background-color);
  border-radius: 7px;
  color: var(--accent-color);
  text-shadow: 0px 0px 20px #000;
  box-shadow: none;
  text-decoration: none;
  height: 20px;
  gap: 5px;
  scale: 0.95;
  transition: all 0.2s;
}

@media screen and (max-width: 540px) {
  .cart {
    max-width: 100dvw;
    height: 88svh;
    margin: 0;
    padding-top: 100px;
  }
}
