:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  user-select: none;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-color: #fd7f20;
  --secondary-color: #fc2e20;
  --tertary-color: #fc2e20;
  --background-color: #fdb750;
  --accent-color: #010100;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  place-items: center;
  justify-content: center;
  background-color: var(--background-color);
}
.fa-cart-shopping,
.fa-circle-user,
.fa-list,
.fa-house-chimney {
  visibility: hidden;
  font-size: 0;
}

@media screen and (max-width: 600px) {
  .fa-cart-shopping,
  .fa-circle-user,
  .fa-list,
  .fa-house-chimney {
    visibility: visible;
    font-size: 15px;
  }
}
